.filtering {
  margin: 10px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: #f9f8f7;
  width: 250px;
  height: 930px;
  border-radius: 5px;
  position: sticky;
  top: 10px;
  border: 0.2px solid #fcbe72;
  box-shadow: 0 0 10px rgba(247, 148, 29, 0.5);
}

.filtering-container .filter-content h3 {
  
  font-size: 18px;
  margin-left:10px;
}
.filter-star {
  color: gold;
  font-size: 30px;
  padding: 0;
  margin-right: 5px;
}

.rating {
  margin-left: 5px;
}
.custom-checkbox {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-top: 6px;
}
.rating-child {
  display: flex;
  align-items: center;
}
.filter-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #fcbe72;
}

.filter-icon {
  margin-right: 10px;
}

h2 {
  margin: 0;
}

.add-to-cart {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.cart-icon {
  margin-right: 10px;
}

.checkbox {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: start;
  height: 250px;
  overflow-y: auto;
  padding: 10px;
  border-top: 1px solid #fcbe72;
  gap: 5px;
}

.checkbox h3 {
  margin-bottom: 5px;
}

hr {
  width: 70%;
  border: 1px solid #fcbe72;
}

.checkbox-child input {
  width: 15px;
  height: 15px;
}

.price-range {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: start;
  padding: 10px;
}

.price-range label {
  margin-right: 5px;
}

.price-range input {
  width: 170px; 
  margin-right: 10px;
}

.price-range button {
  border: 3px solid #fcbe72;
  padding: 5px 10px; 
  cursor: pointer;
  font-weight: bold;
  margin-left: 108px;
  margin-top: 10px ;
  border-radius: 5px;
  color: #f7941d;
}

.price-range button:hover {
  transform: scale(1.1); 
  background-color: #f7941d;
  color: whitesmoke;
}